:root {
  --main-color: white;
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  background-size: cover;
}

/*------------- Navbar ---------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.active-link {
  border-bottom: 1px solid;
}

.nav-logo {
  display: none;
}

.nav-home {
  display: flex;
  gap: 30px;
}
.nav-home a {
  padding: 0 3rem;
}

.nav-home a,
.colo-btn a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.colo-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem;
}

.contact-btn {
  background-color: #87bbd9;
  padding: 6px 15px;
  color: white;
  border-radius: 5px;
}

.login-btn {
  background-color: #87bbd9;
  color: white;
  padding: 6px 25px;
  border-radius: 5px;
}

/* -----Navbar hover effekt ---- */
.nav-logo a:hover {
  color: #f4e87c;
  transition: 0.5s;
}
.nav-home a:hover {
  transition: 0.5s;
  font-size: 1.3rem;
}

.colo-btn a:hover {
  color: #f4e87c;
  transition: 0.5s;
  background-color: #878787;
}
.contact-btn a:hover {
  background-color: #51a4d4;
}
.main-content {
  margin: 3rem 0;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.box-one,
.box-two {
  display: flex;
  max-width: 50%;
}

.box-one .image,
.box-two .image {
  margin: 1rem;
}

.box-one .image img,
.box-two .image img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.content {
  margin: 1rem;
}

#my-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 300px;
  max-height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skugga för effekt */
  background-color: white;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  z-index: 999;
  background-color: white;
}

#closeModalBtn {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1001;
}

p::first-letter {
  font-size: 1.7rem;
}
p {
  padding-top: 10px;
  line-height: 2rem;
}

.cv-link a,
.gitHub a {
  color: #3a86ff;
  text-decoration: none;
}
.gitHub {
  display: block;
}

.a-hover:hover {
  transition: 0.5s;
  border-bottom: 1px solid;
}
.cv-link a:hover,
.gitHub a:hover {
  border-bottom: 1px solid #3a86ff;
}

#title-one,
#title-two,
#title-three,
#title-four {
  padding: 8px 20px;
  border: none;
  color: white;
  background-color: #3a86ff;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
/*-------------Footer-----------------------*/

footer {
  display: flex;
  flex: end;
  justify-content: center;
  background: #003973;
  background-color: lightgray;
  overflow-y: auto;
  max-height: 200px;
}

.footer-menu {
  flex-direction: row;
  display: flex;
  font-size: 2.5rem;
  gap: 50px;
  padding: 20px;
}

.footer-menu .fa-facebook:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-instagram:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-square-github:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-linkedin:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}

/*---- media queri--------*/

@media (min-width: 768px) and (max-width: 2200px) {
  .navbar {
    display: flex;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .nav-logo a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  .nav-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .colo-btn {
    display: flex;
    flex-direction: row;
  }
  .main-section-one {
    display: flex;
    flex-direction: row;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    width: 400px;
    height: 250px;
  }
}
