:root {
  --main-color: white;
  --font-family: "Roboto", sans-serif;
  --font-size: 1.1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: var(--font-family);
  background-color: #8670a9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*------------- Navbar ---------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  background: #1f4037;
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
}
.active-link {
  border-bottom: 1px solid;
}
.nav-logo {
  display: none;
}
.navbar a {
  text-decoration: none;

  font-size: var(--font-size);
}

.nav-home {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
}
.nav-home a,
.colo-btn a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.colo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}
.contact-btn {
  background-color: #87bbd9;
  padding: 6px 15px;
  color: white;
  border-radius: 5px;
}

.login-btn {
  background-color: lightgray;
  color: white;
  padding: 6px 25px;
  border-radius: 5px;
}

/* -----Navbar hover effekt ---- */
.nav-logo a:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.nav-home a:hover {
  transition: 0.5s;
  font-size: 1.2rem;
}

.colo-btn a:hover {
  transition: 0.5s;
  background-color: #878787;
}

/*---------------  Main Content ---------------*/

.main-content {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

ul {
  display: flex;

  gap: 1rem;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1em;
  border: 1px solid;
  border-radius: 5px;

  gap: 1rem;
  line-height: 1.5rem;
}
h3 {
  gap: 0.5rem;
}
img {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
}

.firstDiv ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*-------------Footer-----------------------*/

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-menu {
  flex-direction: row;
  display: flex;
  font-size: 2.5rem;
  gap: 50px;
}

.footer-menu .fa-facebook:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-instagram:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-square-github:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-linkedin:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}

/*-------------Mediaqueri---------------------*/

@media (min-width: 768px) and (max-width: 2220px) {
  body {
    height: 100vh;
  }
  /*--------Navbar-----------------*/
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .nav-logo {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .nav-logo a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 2rem;
  }
  .nav-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .colo-btn {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  .colo-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*----main-content style------*/
  .main-content {
    display: flex;
  }
  .firstDiv ul {
    display: flex;
    flex-direction: row;
  }
  li {
    max-width: 25%;
  }
}
