:root {
  --main-color: white;
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: var(--font-family);
  background-color: #b0c4b1;
}
/*------------- Navbar ---------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  background: #1f4037;
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
}
.active-link {
  border-bottom: 1px solid;
}
.nav-logo {
  display: none;
}

.nav-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
.nav-home a,
.colo-btn a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.colo-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem;
}
.contact-btn {
  background-color: #87bbd9;
  padding: 6px 15px;
  color: white;
  border-radius: 5px;
}

.login-btn {
  background-color: lightgray;
  color: white;
  padding: 6px 25px;
  border-radius: 5px;
}

/* -----Navbar hover effekt ---- */
.nav-logo a:hover {
  color: #f4e87c;
  transition: 0.5s;
}
.nav-home a:hover {
  transition: 0.5s;
  font-size: 1.3rem;

  /*border-bottom: 1px solid;*/
}

.colo-btn a:hover {
  color: #f4e87c;
  transition: 0.5s;
  background-color: #878787;
}

/*------------- Main-hero ------------------*/
.main-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-hero-div {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main-hero-div:hover {
  transform: rotateY(10deg);
  transition: 0.9s;
  background-color: #f5f3f4;
  color: black;
}
.main-hero-div img {
  width: 100%;
  height: auto;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-family: "Times New Roman", Times, serif;
  background: #00416a;
  background: -webkit-linear-gradient(to right, #ffe000, #799f0c, #00416a);
  background: linear-gradient(to right, #ffe000, #799f0c, #00416a);
}
p::first-letter {
  font-size: 2rem;
}
p {
  padding: 1rem;
  line-height: 2rem;
}

/*-------------Footer-----------------------*/

footer {
  display: flex;
  justify-content: center;
  background: #003973;
  background: -webkit-linear-gradient(to right, #e5e5be, #003973);
  background: linear-gradient(to right, #e5e5be, #003973);
}

.footer-menu {
  flex-direction: row;
  display: flex;
  font-size: 2.5rem;
  gap: 50px;
  padding: 20px;
}

.footer-menu .fa-facebook:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-instagram:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-square-github:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}
.footer-menu .fa-linkedin:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}

/*-------------Mediaqueri---------------------*/
@media (min-width: 820px) and (max-width: 2220px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .nav-logo {
    padding: 1rem;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
  }
  .nav-logo a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  .nav-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.7rem;
    gap: 4rem;
  }
  .colo-btn {
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
  }

  .main-hero {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 3%;
  }
}
